<div layout="row">
    <div flex="">
        <h2 class="md-headline fd-primary">Completa tu perfil</h2>
    </div>
</div>
<md-content class="md-whiteframe-z1">
    <form name="form_registration_profile" ng-submit="save_profile()" novalidate="">
        <md-content class="md-padding">
            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label for="first_name">Nombres</label>
                    <input type="text" name="first_name" id="first_name" ng-model="profile.first_name">
                </md-input-container>
                <md-input-container flex="">
                    <label for="last_name">Apellidos</label>
                    <input type="text" name="last_name" id="last_name" ng-model="profile.last_name">
                </md-input-container>
            </div>
            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label for="address">Dirección</label>
                    <input type="text" name="address" id="address" ng-model="profile.address">
                </md-input-container>
                <md-input-container flex="">
                    <label for="email">Correo electrónico</label>
                    <input type="text" name="email" id="email" ng-model="profile.email">
                </md-input-container>
            </div>
            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label for="mobile_number">Móvil</label>
                    <input type="text" name="mobile_number" id="mobile_number" ng-model="profile.mobile_number">
                </md-input-container>
                <md-input-container flex="">
                    <label for="phone_number">Teléfono</label>
                    <input type="text" name="phone_number" id="phone_number" ng-model="profile.phone_number">
                </md-input-container>
            </div>
        </md-content>
        <div layout="row" class="fd-card-action">
            <div flex="">
                <md-button type="submit" class="md-raised md-primary">Siguiente</md-button>
            </div>
        </div>
    </form>
</md-content>